<html>

<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', { 'packages': ['bar'] });
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {
      var data = new google.visualization.arrayToDataTable({ coords| safe});

    var options = {
      title: 'Bar Graph',
      width: 900,
      legend: { position: 'none' },
      chart: {
        title: '',
        subtitle: ''
      },
      bars: 'horizontal', // Required for Material Bar Charts.
      axes: {
        x: {
          0: { side: 'top', label: 'X-axis' } // Top x-axis.
        }
      },
      bar: { groupWidth: "90%" }
    };

    var chart = new google.charts.Bar(document.getElementById('top_x_div'));
    chart.draw(data, options);
      };
  </script>
</head>

<body>
  <div id="top_x_div" style="width: 1500px; height: 500px;"></div>
</body>

</html>