<!DOCTYPE html>
<html lang="en">

<head>
  <style type="text/css">
    .StyleRows {
      background-color: #ffffff;
      color: #3366cc;
      font: 13px Verdana;
      font-weight: bold;
      text-align: center;

    }
  </style>

  <meta charset="utf-8" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="76x76" href="../asset/img/apple-icon.png" />
  <link rel="icon" type="image/png" href="../asset/img/favicon.png" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- CSS Files -->
  <link href="../asset/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../asset/demo/demo.css" rel="stylesheet" />
  <title>TableView - Startup</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="eda.html" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &emsp;&emsp;&emsp13; EXPLORATORY DATA ANALYSIS
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="eda.html">Histograms</a>
            <a class="dropdown-item" href="eda.html">Box Plots</a>
            <a class="dropdown-item" href="eda.html">Bar Charts</a>
            <a class="dropdown-item" href="eda.html">Scatter Charts</a>
          </div>
        </div>

      </li>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="cluster.html" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &emsp; CLUSTER ANALYSIS
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="cluster.html">Bar Charts</a>
            <a class="dropdown-item" href="cluster.html">Scatter Chart</a>
            <a class="dropdown-item" href="cluster.html">Bubble Chart</a>
          </div>
        </div>

      </li>
      <li class="nav-item dropdown">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="correlation.html" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            &emsp; CORRELATON GRID
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="correlation.html">FuelType vs Displacement</a>
            <a class="dropdown-item" href="correlation.html">FuelType vs Mileage</a>
            <a class="dropdown-item" href="correlation.html">FuelType vs Power</a>
            <a class="dropdown-item" href="correlation.html">FuelType vs Price</a>
          </div>
        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<body class="">
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../asset/img/side1.jpg">
      <div class="logo">
        <a href="" class="simple-text logo-normal"> Material-dashboard </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" href="analysis.html">
              <i class="material-icons">content_paste</i>
              <p>Analyze</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="material-icons">bubble_chart</i>
              <p>Home</p>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">
              <i class="material-icons">person</i>
              <p>About Us</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="main-panel">

      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;"></a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
        </div>
      </nav>
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <a>Histogram of Car price data</a>
          </div>

          <br>
          <br>
          <br>
          <br>
          <html>

          <head>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
              google.charts.load("current", { packages: ["corechart"] });
              google.charts.setOnLoadCallback(drawChart);
              function drawChart() {
                var data = google.visualization.arrayToDataTable({{ p| safe}});

              var options = {

                legend: { position: 'none' },
              };

              var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
              chart.draw(data, options);
      }
            </script>
          </head>

          <body>
            <div id="chart_div" style="width: 1300px; height: 600px;"></div>
          </body>

          </html>


          <div class="card-footer">
            <div class="stats">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                  aria-expanded="false" aria-controls="multiCollapseExample1">Get Inference</a>

              </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">

                      <ul>
                        <li>Seems like there is a lot of varaince in price we can check that by plotting a box plot.
                        </li>
                        <li>Seems that there is a lot of outliers that form a very different type(s) of cars or to be
                          mor exact there are very different categories in the automotive market</li>
                      </ul>



                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!--  -->

        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <a>Most dominatng car body type</a>
            </div>

            <br>
            <br>
            <br>
            <br>

            <input type="image" src="assets/count.png" alt="Submit" width="1200" height="650">




          </div>
          <div class="card-footer">
            <div class="stats">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                  aria-expanded="false" aria-controls="multiCollapseExample1">Get Inference</a>

              </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                      <ul>
                        <li>SUV's Sedans and hatchbacks seems to be the dominating car types</li>
                      </ul>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <!--  -->
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <a>Check For Outliers</a>
            </div>

            <br>
            <br>
            <br>
            <br>
            <input type="image" src="assets/box3.png" alt="Submit" width="1200" height="650">


          </div>
          <div class="card-footer">
            <div class="stats">
              <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                  aria-expanded="false" aria-controls="multiCollapseExample1">Get Inference</a>

              </p>
              <div class="row">
                <div class="col">
                  <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body">
                      <ul>
                        <li>It's Clear that Car body type strongly affect the price </li>
                      </ul>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <a>car by engine size</a>
            </div>

            <br>
            <br>
            <br>
            <br>

            <input type="image" src="assets/box4.png" alt="Submit" width="1200" height="650">



            <div class="card-footer">
              <div class="stats">
                <p>
                  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1">Get Inference</a>

                </p>
                <div class="row">
                  <div class="col">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                      <div class="card card-body">
                        <ul>
                          <li>
                            Seems like most of cars have engine size in the 1000:2000cc range
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <a>Horsepower of cars</a>
              </div>

              <br>
              <br>
              <br>
              <br>
              <html>

              <head>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                  google.charts.load("current", { packages: ["corechart"] });
                  google.charts.setOnLoadCallback(drawChart);
                  function drawChart() {
                    var data = google.visualization.arrayToDataTable({{ p1| safe}});

                  var options = {
                    title: 'Lengths of dinosaurs, in meters',
                    legend: { position: 'none' },
                  };

                  var chart = new google.visualization.Histogram(document.getElementById('chart_div1'));
                  chart.draw(data, options);
      }
                </script>
              </head>

              <body>
                <div id="chart_div1" style="width: 900px; height: 500px;"></div>
              </body>

              </html>




              <div class="card-footer">
                <div class="stats">
                  <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                      aria-expanded="false" aria-controls="multiCollapseExample1">Get Inference</a>

                  </p>
                  <div class="row">
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body">
                          <ul>
                            <li>
                              Now we check the relation horsepower and price considering diffreent body type
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <!--  -->
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <a>horsepower and pricee</a>
                </div>

                <br>
                <br>
                <br>
                <br>
                <input type="image" src="assets/scatter1.png" alt="Submit" width="1200" height="650">


                <div class="card-footer">
                  <div class="stats">
                    <p>
                      <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                        aria-expanded="false" aria-controls="multiCollapseExample1">Get Inference</a>

                    </p>
                    <div class="row">
                      <div class="col">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                          <div class="card card-body">
                            <ul>
                              <li>
                                Horsepower of car seems to be highly related to car price but car body type seems a
                                little bit blurry but hatchbacls seems to be the body type with the least horsepower and
                                price
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- ? -->
              <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                  <div class="card-icon">
                    <a>Mileage and price</a>
                  </div>

                  <br>
                  <br>
                  <br>
                  <br>
                  <input type="image" src="assets/joinplot.png" alt="Submit" width="1200" height="650">


                  <div class="card-footer">
                    <div class="stats">
                      <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                          aria-expanded="false" aria-controls="multiCollapseExample1">Get Inference</a>

                      </p>
                      <div class="row">
                        <div class="col">
                          <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card card-body">
                              <ul>
                                <li>It's looks like expensive cars tend to have worse mileage</li>
                              </ul>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
























                <!--   Core JS Files  ----------------->
                <script src="../asset/js/core/jquery.min.js"></script>
                <script src="../asset/js/core/popper.min.js"></script>
                <script src="../asset/js/core/bootstrap-material-design.min.js"></script>
                <script src="../asset/js/plugins/perfect-scrollbar.jquery.min.js"></script>
                <script src="../asset/js/plugins/moment.min.js"></script>
                <script src="../asset/js/plugins/sweetalert2.js"></script>
                <script src="../asset/js/plugins/jquery.validate.min.js"></script>
                <script src="../asset/js/plugins/jquery.bootstrap-wizard.js"></script>
                <script src="../asset/js/plugins/bootstrap-selectpicker.js"></script>
                <script src="../asset/js/plugins/bootstrap-datetimepicker.min.js"></script>
                <script src="../asset/js/plugins/jquery.dataTables.min.js"></script>
                <script src="../asset/js/plugins/bootstrap-tagsinput.js"></script>
                <script src="../asset/js/plugins/jasny-bootstrap.min.js"></script>
                <script src="../asset/js/plugins/fullcalendar.min.js"></script>
                <script src="../asset/js/plugins/jquery-jvectormap.js"></script>
                <script src="../asset/js/plugins/nouislider.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
                <script src="../asset/js/plugins/arrive.min.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
                <script src="../asset/js/plugins/chartist.min.js"></script>
                <script src="../asset/js/plugins/bootstrap-notify.js"></script>
                <script src="../asset/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
                <script src="../asset/demo/demo.js"></script>
</body>

</html>