<!DOCTYPE html>
<html lang="en">

<head>
  <!-- ======================================================================= -->
  <!---------------------------- important links ----------------------------->
  <!-- ======================================================================= -->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <title>Index</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="asset/css/bar.css" rel="stylesheet" />
  <link href="asset/vendor/animate.css/animate.min.css" rel="stylesheet" />
  <link href="asset/vendor/aos/aos.css" rel="stylesheet" />
  <link href="asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="asset/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="asset/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet" />
  <link href="ss.css" rel="stylesheet" />

  <!-- ======================================================================= -->
  <!---------------------------- important links end----------------------------->
  <!-- ======================================================================= -->

  <style>
    body {
      background-color: #ffaf04;
    }

    .search-box {
      width: fit-content;
      height: fit-content;
      position: relative;
      left: 45%;

    }

    .input-search {
      height: 50px;
      width: 50px;
      border-style: none;
      padding: 10px;
      font-size: 18px;
      letter-spacing: 2px;
      outline: none;
      border-radius: 25px;
      transition: all .5s ease-in-out;
      background-color: #ff3c00;
      padding-right: 40px;
      color: rgb(255, 255, 255);
    }

    .input-search::placeholder {
      color: rgb(255, 255, 255);
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 100;
    }

    .btn-search {
      width: 50px;
      height: 50px;
      border-style: none;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      color: #ffffff;
      background-color: transparent;
      pointer-events: painted;
    }

    .btn-search:focus~.input-search {
      width: 300px;
      border-radius: 0px;
      background-color: transparent;
      border-bottom: 1px solid rgba(5, 5, 5, 0.5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    .input-search:focus {
      width: 300px;
      border-radius: 0px;
      background-color: transparent;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
  </style>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1><a href="index.html">CarSamjho.com</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="nav-link scrollto active" href="index.html">Home</a>
          </li>
          <li><a class="nav-link scrollto" href="aboutus.html">About</a></li>
         
          <li>
            <a class="nav-link scrollto" href="fake.html">Fake Reviews</a>
          </li>
          <li>
            <a class="openBtn" onclick="openSearch()" class="btn openBtn">Open Search Box</a>
          </li>
          <!-- <li>
            <a class="openBtn" onclick="openSearch()" class="btn openBtn">Fake Review Detection</a>
          </li> -->
          {% if user.is_authenticated %}
          <ul class="navbar-nav mr-2">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href='#' id="navbarDropdown" role="button" data-toggle="dropdown">
                Welcome {{request.user}}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/logout">Logout</a>

              </div>
            </li>
          </ul>
    </div>
    {% else %}
    <!-- Button to  trigger Login modal -->
    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#loginModal">
      Login
    </button>

    <button type="button" class="btn btn-success mr-2" data-toggle="modal" data-target="#signupModal">
      SignUp
    </button>
    {% endif %}


    </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->


  <!-- ======= Hero Section ======= -->

  <section id="hero" class="d-flex flex-column justify-content-end align-items-center" style="color: black;">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel"
      style="color: black;">

      <div class="carousel-item active" style="color:rgb(255, 153, 0) ;">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown" style="color:rgb(255, 153, 0) ;">
            Welcome to CarSamjho.com
            <br>

            <span>
              One Platform to
            </span><span class="typed" data-typed-items="
                Audit  Fake Reviews,
Predict Future Demand,
Customize your Own Query,
Upcoming Price and Features,
Analysis Current Demands,
"></span>
          </h2>

          <div id="myOverlay" class="overlay">
            <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
            <div class="overlay-content">
              <!----------------------------------------------hover screen----------------------------------------------------->
              <div class="container">
                <div class="row">
                  <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>UPLOAD YOUR DATA-SET HERE</h1>

                    <div>
                      <form method="POST" enctype="multipart/form-data" action="{% url 'static' %}">
                        {% csrf_token %}
                        <div class="input-group">
                          <input style="color: dark" type="file" class="form-control" id="fileupload" name="fileupload"
                            aria-label="Upload" />
                          <button class="btn btn-primary" id="uploadbutton" name="uploadbutton" type="submit">
                            Upload
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              
              

              <br />
              <br />
              <br />

              <!----------------------------------------------hover screen end----------------------------------------------------->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SignUp Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/signup" method='post'>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username"
                  placeholder="Choose a unique username">
              </div>
              <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname"
                  placeholder="Enter Your First Name">
              </div>
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname"
                  placeholder="Enter Your Last Name">
              </div>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
              </div>
              <div class="form-group">
                <label for="pass1">Choose a password</label>
                <input type="password" class="form-control" id="pass1" name="pass1"
                  placeholder="Choose Your Password">
              </div>
              <div class="form-group">
                <label for="pass2">Confirm Password</label>
                <input type="password" class="form-control" id="pass2" name="pass2"
                  placeholder="Enter your password again">
              </div>


              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>






    {% block body %} {% endblock body %}

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/login" method="POST"> {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="loginusername" name="loginusername"
                  placeholder="Enter your username " required>
              </div>
              <div class="form-group">
                <label for="pass">Enter your password </label>
                <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                  placeholder="Enter your password " required>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
              <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
              </path>
            </defs>
            <g class="wave1">
              <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)"></use>
            </g>
            <g class="wave2">
              <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)"></use>
            </g>
            <g class="wave3">
              <use xlink:href="#wave-path" x="50" y="9" fill="#fff"></use>
            </g>
          </svg>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

      <div class="search-box">
        <form action="{% url 'graph' %}" method="POST">
          {% csrf_token %}
          <button class="btn-search"><i class="fas fa-search"></i></button>

          <input name="command" type="text" class="input-search" placeholder="Type your Query...">

        </form>
      </div>


    </section>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Car Analysis</h3>
      <p>
        A tool that allows you to analyze current car trends, compare cars, estimate future sales, identify customer
        segments, and eliminate fake reviews in order to make necessary decisions.
      </p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <p>This tool is a one-stop destination for companies to track their consumers and make appropriate decisions.</p>
    </div>
  </footer>
  <!-- End Footer------------- -->

  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files ----------------->
  <script src="asset/vendor/aos/aos.js"></script>
  <script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="asset/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="asset/vendor/php-email-form/validate.js"></script>
  <script src="asset/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="asset/vendor/typed.js/typed.js"></script>
  <script src="asset/vendor/typed.js/typed.min.js.map"></script>
  <script src="asset/vendor/typed.js/typed.min.js"></script>

  <!-- Template Main JS File -->
  <script src="asset/js/main.js"></script>
  <script src="asset/js/bar.js"></script>
</body>

</html>